<div class="card">
    <slot></slot>
</div>

<style>
    .card {
        background-color: #fff;
        color: #333;
        padding: 32px 40px;
        margin: 24px 0px;
        border-radius: 16px;
        position: relative;
    }
</style>