<script lang="ts">
  import { feedbackStore } from '../stores/Feedback.store';
  import type { Feedback } from '../types/Feedback';
  import Card from './shared/Card.svelte';

  export let feedback: Feedback;

  const handleDismiss = async (id: string) => {
    await feedbackStore.deleteFeedback(id);
  };
</script>

<Card>
  <div class="feedback-rating">{feedback.rating}</div>
  <p class="feedback-text">{feedback.text}</p>
  <button class="feedback-dismiss" on:click={() => handleDismiss(feedback.id)}
    >x</button
  >
</Card>

<style>
  .feedback-rating {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 8px;
    border-radius: 24px;
    height: 36px;
    width: 36px;
    background-color: #ff6a95;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feedback-dismiss {
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
</style>
