<script lang="ts">
  import { feedbackStore } from '../stores/Feedback.store';
  import type { Feedback } from '../types/Feedback';
  import Button from './shared/Button.svelte';
  import Card from './shared/Card.svelte';
  import Select from './shared/Select.svelte';
  import { createEventDispatcher } from 'svelte';

  let isButtonDisabled = true;
  let text = '';
  let minTextLength = 10;
  let rating = 10;
  let message;


  const handleInputTextChange = () => {
    if (text?.trim()?.length < minTextLength) {
      message = `Text must be at least ${minTextLength} characters long`;
      isButtonDisabled = true;
    } else {
      message = '';
      isButtonDisabled = false;
    }
  };

  const handleSelectValueChange = (data: CustomEvent) => {
    rating = data.detail;
  };

  const handleSubmit = async () => {
    if (text?.trim()?.length > minTextLength) {
      const newFeedback: Feedback = {
        rating,
        text,
      };
      await feedbackStore.addFeedback(newFeedback);
      text = '';
    }
  };
</script>

<Card>
  <header>
    <h2>How would you rate out service?</h2>
  </header>

  <form on:submit|preventDefault={handleSubmit}>
    <Select
      selected={rating}
      on:SELECT_RATING_EVENT={data => handleSelectValueChange(data)}
    />
    <div class="input-group">
      <input
        type="text"
        on:input={handleInputTextChange}
        bind:value={text}
        placeholder="Tell us something that keeps you coming back"
      />
      <Button type="submit" disabled={isButtonDisabled}>Send</Button>
    </div>
    {#if message}
      <div class="message">{message}</div>
    {/if}
  </form>
</Card>

<style>
  header {
    margin: auto;
  }
  header h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: 15px;
  }
  input {
    flex-grow: 2;
    border: none;
    font-size: 16px;
  }
  input:focus {
    outline: none;
  }
  .message {
    padding-top: 10px;
    text-align: center;
    color: rebeccapurple;
  }
</style>
