<script lang="ts">
  import { feedbackStore } from '../stores/Feedback.store';
  import FeedbackItem from './FeedbackItem.svelte';
  import { fade, scale } from 'svelte/transition';
  feedbackStore.getFeedbacks();
</script>

{#each $feedbackStore as feedback (feedback.id)}
  <div in:scale out:fade={{ duration: 200 }}>
    <FeedbackItem {feedback} />
  </div>
{/each}
